# MaxMind GeoIP credentials
# Get a free account at https://www.maxmind.com/en/geolite2/signup
# Then generate a license key in your account dashboard.
MAXMIND_ACCOUNT_ID=your_account_id
MAXMIND_LICENSE_KEY=your_license_key
